@import url(./utilities.css);
:root{
    --primary:#3e8b9b;
    --darkblue: #11182F;
    --white: #FFFFFF;
    --gray: #898989;
    --light: #f2f2f2;
    --secondary: #070607;
}
body {
    font-family: 'poppins' , sans-serif;
}
html{
    scroll-behavior: smooth;
}
header {
    background: var(--darkblue);
    clip-path: polygon(0 0, 100% 0, 100% 100%,70% 90%,0 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
    }
@media(min-width: 1025px) {
    .site-main-wraper .hamberger{
        display: none;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}
header nav .left a{
    color: var(--white);
    text-decoration: none;
    margin-right: 2rem ;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav {
    padding: 2rem 0;
}
header nav .logo {
    margin-right: 3rem;
}
.slider{
    padding: 17rem 0;
}
.slider .left img{
    margin-top: -150px;
    width: 400px;
}
.slider .right{
    margin-top: -7rem;
    color: var(--white);
}
.slider .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.slider .right h1{
    font-size: 4.1rem;
    font-weight: 100;
    line-height: 4.8rem;
    margin-bottom: 2rem;
}
.slider .right h1 span{
    color: var(--primary);
}
.slider .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
section{
    padding: 6rem 0;
}
section.about .about-image{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'lato' , sans-serif;
    color: var(--gray);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 0.6rem;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading + p{
    color: var(--gray);
    text-align: center;
    font-family: 'lato' , sans-serif;
    margin-bottom: 8rem;
}
.section-heading span{
    color: var(--primary);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    
}
section.services{
    background: var(--light);
}
section.services p{
    margin-bottom: 4rem;
}
section.services .paragraph{
    margin-bottom: 8rem;
}
section.services .card-wrapper .card{
    background:var(--white);
    padding: 3rem 02rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition:all .9s ease-out;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -6.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}
section.services .card-wrapper .card p{
    font-family: 'lato' , sans-serif;
    color: var(--gray);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--darkblue);
}
section.services .card-wrapper .card:hover h2,section.services .card-wrapper .card:hover p{
    color: var(--white);
}
section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/camera.png);
    color: var(--white);
    clip-path: polygon(0 0, 100% 0, 100% 100%,67% 80%,0 100%);
    padding-bottom: 14rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'lato' ,sans-serif;
}
section.reviews .slides .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;

}
section.reviews .slides .slide {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.reviews .slides .slide p{
    font-family: 'lato', sans-serif;
    color: var(--gray);
    margin-bottom: 1rem;
}
section.reviews .slides .slide span{
    font-size: 0.8rem;
}
section.reviews .slides-dots .dots{
    list-style-type:none;
    display: flex!important;
    justify-content: center;
}
section.reviews .slides-dots{
    margin-top: 3rem;
}
section.reviews .slides-dots button{
    font-size: 0;
    width: 10px;
    height: 8px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--gray);
    border-radius: 50px;
    cursor: pointer;
}
section.reviews .dots li.slick-active button{
    background: var(--primary);
    width: 20px;
}
section.works {
    background: var(--light);
}
section.works .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.works .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.works .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(62, 139, 155, 0.9);
    flex-direction: column;
    color: var(--light);
    opacity: 0;
    transition: all .5s ease-out;
}
section.works .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.works .card-wrapper .card img{
    height: 100%;
    width: 100%;
}
section.works .card-wrapper .card:hover .overlay{
    opacity: 1;
}
section.blog {
    background: var(--darkblue);
    clip-path: polygon(0 0,100% 0, 100% 100%, 70% 85%,0 100%);
    padding-bottom: 15rem;
}
section.blog .section-heading{
    color: var(--white);
}
section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.blog .card-wrapper .card {
    background: var(--white);
}
section.blog .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
section.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}
section.blog .card-wrapper .card .card-content span{
    color: var(--gray);
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p{
    font-family: 'lato' ,sans-serif;
    color: var(--gray);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a.readmore{
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
section.blog .card-wrapper .card .image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
section.contact .card-wrapper .card h1{
    color: var(--secondary);
    font-weight: 400;
    margin-bottom: 1rem;

}
section.contact .card-wrapper .card h6{
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4rem;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    padding-bottom: 4rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact input:focus ,section.contact .input-wrap-2 textarea{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
footer{
    background: var(--darkblue);
    text-align: center;
    padding: 3rem 0;
}
footer .footer-social{
    margin-top: 2rem;
    margin-bottom: 1rem;

}
footer .footer-social img{
    height: 3rem;
    width: 3rem;
    background: var(--white);
    border-radius: 10%;
    margin-right: 2rem;

    border: transparent;
    padding: 0;
}
footer .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer .copyright{
    color: var(--gray);
    font-size: 0.7rem;
}
footer .footer-logo{
    width: 600px;
    height: 50px;
}

.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.hamberger img{
    width: 30px;
}
.mobile-nav{
    position: fixed;
    background: var(--light);
    top: 0;
    left:0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.times image{
    width: 30px;
}
.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
@media (max-width:1024px){
    header #main-nav{
        display: none;
    }
    .slider .left img{
        width: 370px;
    }
    .slider .right{
        padding-left: 2rem;
    }
    .slider .right h1{
        font-size: 3rem;
    }
    section.about .about-image{
        height: 350px;
    }
    section.services .card-wrapper .card{
        padding: 1rem;
        padding-top: 2rem;
    }
    section.services .card-wrapper .card p{
        line-height: 1rem;
        font-size: 15px;
    }
    section.services .card-wrapper .card img{
        top: -6.5rem;
        width: 8rem;
    }
}